.text-12px {
	font-size: 12px;
	color: #333333;
}
.text-10px {
	font-size: 10px;
	color: #555555;
}
.text-10px-w {
	font-size: 10px;
	color: #FFFFFF;
}
.text-12px-w {
	font-size: 12px;
	color: #FFFFFF;
}
