Options -Indexes
SetEnv TZ JST-9

# Setting .php4 to use php4.cgi
AddType application/x-httpd-php4 .php4
Action application/x-httpd-php4 /global-bin/php4.cgi
#/global-bin/php5.cgi

AddType video/mp4 .mp4
AddType video/webm .webm
AddType video/ogg .ogv